{% extends "base.html" %}

{% block content %}
<div class="centralDiv">
<h1>გამარჯობა {{ request.user.username }}</h1>
    <p>დაველებების შექმნა</p>
    <table>
            <tr>
                <th>name</th>
                <th>text</th>
                <th>subject</th>
            </tr>
        {% for item in professorSubject %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.text }}</td>
                <td>{{ item.subject.title }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="createForm">
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="დამატება">
        </form>
    </div>
</div>

{% endblock %}

