{% extends "base.html" %}



{% block content %}
    <div class="centralDiv">
    faculty list
    <table>
            <tr>
                <th>title</th>
                <th>founded_date</th>
                <th>description</th>
                <th>university_email</th>
            </tr>
        {% for faculty in faculties %}
            <a href="{% url 'get_faculty' faculty.pk %}">
                <tr>
                    <td>{{ faculty.title  }}</td>
                    <td>{{ faculty.founded_date }}</td>
                    <td>{{ faculty.description }}</td>
                    <td>{{ faculty.email }}</td>
                </tr>
            </a>
        {% endfor %}
    </table>

<body>
<div class="container">
    <h1>Faculty List</h1>
    <div>
        <ul>

        </ul>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
        <ul>
            {% if faculties.has_next %}
                <li><a href="{% url 'get_faculties' %}?page={{ faculties.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if faculties.has_previous %}
                <li><a href="{% url 'get_faculties' %}?page={{ faculties.previous_page_number }}">Previous</a></li>
            {% endif %}
        </ul>
    </div>
</div>


{% endblock %}