{% extends "base.html" %}

{% block content %}
<div class="centralDiv">
<h1>გამარჯობა {{ request.user.username }}</h1>
    ჩემი assignement
    <table>
            <tr>
                <th>assignment name</th>
                <th>text</th>
                <th>professor</th>

            </tr>
        {% for item in assignement %}
            <tr>
                <td ><a class="filterItem" href="{% url 'submitAssignment' item.pk %}">{{ item.name }} </a></td>
                <td>{{ item.text }}</td>
                <td>{{ item.professor.first_name }} {{ item.professor.last_name }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}

