{% extends "base.html" %}



{% block content %}
    <div class="centralDiv">
    student list
    <table>
            <tr>
                <th>first_name</th>
                <th>last_name</th>
                <th>university_email</th>
                <th>phone_number</th>
                <th>born_date</th>
                <th> student.gpa</th>
                <th> faculty.title</th>
                <th> faculty.description</th>
                <th> faculty.is_active</th>
            </tr>
        {% for student in students %}
            <a href="{% url 'get_student' student.pk %}">
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.born_date }}</td>
                    <td>{{ student.gpa }}</td>
                    <td>{{ student.current_semester }}</td>
                    <td>{{ student.faculty.title }}</td>
                    <td>{{ student.faculty.description }}</td>
                    <td>{{ student.is_active }}</td>
                </tr>
            </a>
        {% endfor %}
    </table>


    <div class="createForm">
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="დამატება">
        </form>
    </div>

    </div>


        <ul>
            {% if students.has_next %}
                <li><a href="{% url 'get_students' %}?page={{ students.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if students.has_previous %}
                <li><a href="{% url 'get_students' %}?page={{ students.previous_page_number }}">Previous</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}