<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students for Subject</title>
</head>
<style>
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] {
        margin-right: 10px;
    }
</style>
<body>
    <h1>List of Students for Subject - {{ subject.title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
</body>
</html>
