<!DOCTYPE html>
<html>
<head>
    <title>List of Subjects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">List of Subjects</h1>
        <ul class="list-group">
            {% for subject in subjects %}
                <li class="list-group-item"><a href="{% url 'subject_students' subject.id %}">{{ subject.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
