{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
    <h1> სტუდენტის შექმნის დროს იქმნება იუზერიც რომლის  username: first_name+last_name და პაროლი 'User'</h1>
    <p>გაითვალისწინეთ რომ როცა პროფესორის გვერდიდან გადაგიხართ სტუდენტი გვერდზე ან პირიქით ხელახალი აუტორიზაცია არის საჭირო</p>
        </div>
    <br>
    <div>
    <form method="post">
        {% csrf_token %}
        <div style="padding: 100px">
            <div class="login_form__div">
                <div class="register__span">
                    Log in
                </div>
                <div class="form__input">
                    {{ form_user_login.username }}
                </div>
                <div class="form__input">
                    {{ form_user_login.password }}
                </div>
                <button class="login__but" type="" sublit>Log in</button>
            </div>
        </div>
    </form>
</div>
<br>




{% endblock %}