{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="fon10 ">
            <div class="login_form__div">
                <div class="register__span">
                    Log in
                </div>
                <div class="form__input">
                    {{ form_user_login.username }}
                </div>
                <div class="form__input">
                    {{ form_user_login.password }}
                </div>
                <button class="login__but" type="" sublit>Log in</button>
            </div>
        </div>
    </form>

<br>




{% endblock %}