{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'giostyle.css' %}">
    <title>Document</title>
</head>
<header>
  <nav class="navbar">
    <a href="{% url 'index' %}" class="nav-button">Main</a>
      {% if request.user.is_authenticated %}
				<div class="nav--login nav--but" >
					<a href="{% url 'user_logout' %}"><div class="nav-button"> {{ request.user.username }}
                        Log out</div></a>
				</div>
      {% else %}
    <a href="{% url 'user_login' %}" class="nav-button">Log in</a>

{% endif %}

  </nav>
</header>
<body>
    <div class="bodyDiv">
        <div class="leftDiv">

        <div class="filterDivs">
                <a class="filterItem"  href="{% url 'professor' %}">
                    Profesor's Database
                </a>
                <a class="filterItem"  href="{% url 'get_faculties' %}">
                    Course's Database
                </a>

                <a class="filterItem"  href="{% url 'sabject' %}">
                    Subject's Database
                </a>

                <a class="filterItem"  href="{% url 'get_students' %}">
                    Student's Database
                </a>

            <hr><hr><hr><hr><hr><hr><hr><hr>

                <a class="filterItem"  href="{% url 'takingsabject' %}">
                    Choose subjects  (student page)
                </a>
                <a class="filterItem"  href="{% url 'myAssighments' %}">
                    My Assignments (student page)
                </a>


            <hr><hr><hr><hr><hr><hr><hr><hr>

                <a class="filterItem"  href="{% url 'addAssignment' %}">
                    Add Assignment (professor page)
                </a>
          </div>


        </div>
        {% block content %}{% endblock %}
    </div>

</body>

</html>